<li>@Html.ActionLink("Service", "Index", "Services")</li>
<li>@Html.ActionLink("Customer", "Index", "Customers")</li>
<li>@Html.ActionLink("Slot", "Index", "TimeSlots")</li>
<li>@Html.ActionLink("Appointment", "Index", "Appointments")</li>
<li>@Html.ActionLink("Cancel Appointment", "Index", "AppointmentCancels")</li>
<li>@Html.ActionLink("Process", "Index", "Processes")</li>
<li>@Html.ActionLink("CustomerAPI", "Index", "TestApi")</li>

